## Taking a look at the `featuretools` library's quick start
https://docs.featuretools.com/

In [4]:
import featuretools as ft

# load mock data
mock_data = ft.demo.load_mock_customer()

customers_df = mock_data['customers']
sessions_df = mock_data['sessions']
transactions_df = mock_data['transactions']

In [33]:
def inspect_df(df, df_name):
    print '*****' + df_name + '*****'
    print 
    print 'Rows: ' + str(len(df))
    print 'Columns: ' + str(len(df.columns))
    print df.head()
    print df.describe(include='all')
    print
    print

In [34]:
dfs = {'customers':customers_df,'sessions':sessions_df,'transactions':transactions_df}

for i in dfs.keys():
    inspect_df(dfs[i], i)

*****customers*****

Rows: 5
Columns: 3
   customer_id zip_code  join_date
0            1    60091 2008-01-01
1            2    02139 2008-02-20
2            3    02139 2008-04-10
3            4    60091 2008-05-30
4            5    02139 2008-07-19
        customer_id zip_code            join_date
count      5.000000        5                    5
unique          NaN        2                    5
top             NaN    02139  2008-05-30 00:00:00
freq            NaN        3                    1
first           NaN      NaN  2008-01-01 00:00:00
last            NaN      NaN  2008-07-19 00:00:00
mean       3.000000      NaN                  NaN
std        1.581139      NaN                  NaN
min        1.000000      NaN                  NaN
25%        2.000000      NaN                  NaN
50%        3.000000      NaN                  NaN
75%        4.000000      NaN                  NaN
max        5.000000      NaN                  NaN


*****transactions*****

Rows: 500
Columns: 5
   transaction_id  session_id    transaction_time product_id  amount
0             352           1 2014-01-01 00:00:00          4    7.39
1             186           1 2014-01-01 00:01:05          4  147.23
2             319           1 2014-01-01 00:02:10          2  111.34
3             256           1 2014-01-01 00:03:15          4   78.15
4             449           1 2014-01-01 00:04:20          3   33.93
        transaction_id  session_id     transaction_time  product_id  \
count       500.000000  500.000000                  500       500.0
unique             NaN         NaN                  500         5.0
top                NaN         NaN  2014-01-01 03:26:55         4.0
freq               NaN         NaN                    1       109.0
first              NaN         NaN  2014-01-01 00:00:00         NaN
last               NaN         NaN  2014-01-01 09:00:35         NaN
mean        250.500000   17.962000                  NaN         NaN
std         144.481833   10.304801                  NaN         NaN
min           1.000000    1.000000                  NaN         NaN
25%         125.750000    8.750000                  NaN         NaN
50%         250.500000   19.000000                  NaN         NaN
75%         375.250000   27.000000                  NaN         NaN
max         500.000000   35.000000                  NaN         NaN

            amount
count   500.000000
unique         NaN
top            NaN
freq           NaN
first          NaN
last           NaN
mean     75.780940
std      42.326416
min       5.600000
25%      39.195000
50%      72.755000
75%     110.930000
max     149.950000


*****sessions*****

Rows: 35
Columns: 4
   session_id  customer_id   device       session_start
0           1            1  desktop 2014-01-01 00:00:00
1           2            1  desktop 2014-01-01 00:17:20
2           3            5   mobile 2014-01-01 00:28:10
3           4            3   mobile 2014-01-01 00:43:20
4           5            2   tablet 2014-01-01 01:10:25
        session_id  customer_id   device        session_start
count    35.000000    35.000000       35                   35
unique         NaN          NaN        3                   35
top            NaN          NaN  desktop  2014-01-01 06:02:55
freq           NaN          NaN       16                    1
first          NaN          NaN      NaN  2014-01-01 00:00:00
last           NaN          NaN      NaN  2014-01-01 08:45:25
mean     18.000000     2.657143      NaN                  NaN
std      10.246951     1.413025      NaN                  NaN
min       1.000000     1.000000      NaN                  NaN
25%       9.500000     1.000000      NaN                  NaN
50%      18.000000     2.000000      NaN                  NaN
75%      26.500000     4.000000      NaN                  NaN
max      35.000000     5.000000      NaN                  NaN

In [31]:
# required definitions
entities = {
    "customers" : (customers_df, "customer_id"),
    "sessions" : (sessions_df, "session_id", "session_start"),
    "transactions" : (transactions_df, "transaction_id", "transaction_time")
    }

relationships = [("sessions", "session_id", "transactions", "session_id"),
    ("customers", "customer_id", "sessions", "customer_id")]

In [32]:
feature_matrix_customers, feature_defs = ft.dfs(entities=entities, 
                                            relationships=relationships,
                                            target_entity='customers')

feature_matrix_customers

,zip_code,COUNT(transactions),COUNT(sessions),SUM(transactions.amount),MODE(sessions.device),MIN(transactions.amount),MAX(transactions.amount),YEAR(join_date),SKEW(transactions.amount),DAY(join_date),...,SUM(sessions.MIN(transactions.amount)),MAX(sessions.SKEW(transactions.amount)),MAX(sessions.MIN(transactions.amount)),SUM(sessions.MEAN(transactions.amount)),STD(sessions.SUM(transactions.amount)),STD(sessions.MEAN(transactions.amount)),SKEW(sessions.MEAN(transactions.amount)),STD(sessions.MAX(transactions.amount)),NUM_UNIQUE(sessions.DAY(session_start)),MIN(sessions.SKEW(transactions.amount))
customer_id,,,,,,,,,,,,,,,,,,,,,
1,60091,131,10,10236.77,desktop,5.60,149.95,2008,0.070041,1,...,169.77,0.610052,41.95,791.976505,175.939423,9.299023,-0.377150,5.857976,1,-0.395358
2,02139,122,8,9118.81,mobile,5.81,149.15,2008,0.028647,20,...,114.85,0.492531,42.96,596.243506,230.333502,10.925037,0.962350,7.420480,1,-0.470007
3,02139,78,5,5758.24,desktop,6.78,147.73,2008,0.070814,10,...,64.98,0.645728,21.77,369.770121,471.048551,9.819148,-0.244976,12.537259,1,-0.630425
4,60091,111,8,8205.28,desktop,5.73,149.56,2008,0.087986,30,...,83.53,0.516262,17.27,584.673126,322.883448,13.065436,-0.548969,12.738488,1,-0.497169
5,02139,58,4,4571.37,tablet,5.91,148.17,2008,0.085883,19,...,73.09,0.830112,27.46,313.448942,198.522508,8.950528,0.098885,5.599228,1,-0.396571

In [36]:
feature_defs

[<Feature: zip_code>,
 <Feature: COUNT(transactions)>,
 <Feature: COUNT(sessions)>,
 <Feature: SUM(transactions.amount)>,
 <Feature: MODE(sessions.device)>,
 <Feature: MIN(transactions.amount)>,
 <Feature: MAX(transactions.amount)>,
 <Feature: YEAR(join_date)>,
 <Feature: SKEW(transactions.amount)>,
 <Feature: DAY(join_date)>,
 <Feature: NUM_UNIQUE(sessions.device)>,
 <Feature: MONTH(join_date)>,
 <Feature: MEAN(transactions.amount)>,
 <Feature: NUM_UNIQUE(transactions.product_id)>,
 <Feature: WEEKDAY(join_date)>,
 <Feature: MODE(transactions.product_id)>,
 <Feature: STD(transactions.amount)>,
 <Feature: SKEW(sessions.STD(transactions.amount))>,
 <Feature: SKEW(sessions.SUM(transactions.amount))>,
 <Feature: NUM_UNIQUE(sessions.WEEKDAY(session_start))>,
 <Feature: MAX(sessions.NUM_UNIQUE(transactions.product_id))>,
 <Feature: MIN(sessions.STD(transactions.amount))>,
 <Feature: MODE(sessions.WEEKDAY(session_start))>,
 <Feature: MEAN(sessions.COUNT(transactions))>,
 <Feature: SUM(sessions.NUM_UNIQUE(transactions.product_id))>,
 <Feature: MEAN(sessions.NUM_UNIQUE(transactions.product_id))>,
 <Feature: MAX(sessions.MEAN(transactions.amount))>,
 <Feature: SKEW(sessions.COUNT(transactions))>,
 <Feature: MIN(sessions.NUM_UNIQUE(transactions.product_id))>,
 <Feature: MEAN(sessions.MAX(transactions.amount))>,
 <Feature: STD(sessions.MIN(transactions.amount))>,
 <Feature: MEAN(sessions.MIN(transactions.amount))>,
 <Feature: MAX(sessions.SUM(transactions.amount))>,
 <Feature: SUM(sessions.SKEW(transactions.amount))>,
 <Feature: MEAN(sessions.STD(transactions.amount))>,
 <Feature: NUM_UNIQUE(sessions.MONTH(session_start))>,
 <Feature: MODE(sessions.DAY(session_start))>,
 <Feature: NUM_UNIQUE(sessions.YEAR(session_start))>,
 <Feature: SKEW(sessions.MAX(transactions.amount))>,
 <Feature: MEAN(sessions.MEAN(transactions.amount))>,
 <Feature: MAX(sessions.STD(transactions.amount))>,
 <Feature: SUM(sessions.MAX(transactions.amount))>,
 <Feature: MODE(sessions.MONTH(session_start))>,
 <Feature: STD(sessions.COUNT(transactions))>,
 <Feature: SKEW(sessions.MIN(transactions.amount))>,
 <Feature: STD(sessions.SKEW(transactions.amount))>,
 <Feature: MIN(sessions.MEAN(transactions.amount))>,
 <Feature: MIN(sessions.COUNT(transactions))>,
 <Feature: MEAN(sessions.SUM(transactions.amount))>,
 <Feature: SUM(sessions.STD(transactions.amount))>,
 <Feature: MODE(sessions.MODE(transactions.product_id))>,
 <Feature: MIN(sessions.SUM(transactions.amount))>,
 <Feature: STD(sessions.NUM_UNIQUE(transactions.product_id))>,
 <Feature: SKEW(sessions.NUM_UNIQUE(transactions.product_id))>,
 <Feature: MODE(sessions.YEAR(session_start))>,
 <Feature: NUM_UNIQUE(sessions.MODE(transactions.product_id))>,
 <Feature: MEAN(sessions.SKEW(transactions.amount))>,
 <Feature: MIN(sessions.MAX(transactions.amount))>,
 <Feature: MAX(sessions.COUNT(transactions))>,
 <Feature: SUM(sessions.MIN(transactions.amount))>,
 <Feature: MAX(sessions.SKEW(transactions.amount))>,
 <Feature: MAX(sessions.MIN(transactions.amount))>,
 <Feature: SUM(sessions.MEAN(transactions.amount))>,
 <Feature: STD(sessions.SUM(transactions.amount))>,
 <Feature: STD(sessions.MEAN(transactions.amount))>,
 <Feature: SKEW(sessions.MEAN(transactions.amount))>,
 <Feature: STD(sessions.MAX(transactions.amount))>,
 <Feature: NUM_UNIQUE(sessions.DAY(session_start))>,
 <Feature: MIN(sessions.SKEW(transactions.amount))>]

In [35]:
inspect_df(feature_matrix_customers, 'features')

*****features*****

Rows: 5
Columns: 69
            zip_code  COUNT(transactions)  COUNT(sessions)  \
customer_id
1              60091                  131               10
2              02139                  122                8
3              02139                   78                5
4              60091                  111                8
5              02139                   58                4

             SUM(transactions.amount) MODE(sessions.device)  \
customer_id
1                            10236.77               desktop
2                             9118.81                mobile
3                             5758.24               desktop
4                             8205.28               desktop
5                             4571.37                tablet

             MIN(transactions.amount)  MAX(transactions.amount)  \
customer_id
1                                5.60                    149.95
2                                5.81                    149.15
3                                6.78                    147.73
4                                5.73                    149.56
5                                5.91                    148.17

             YEAR(join_date)  SKEW(transactions.amount)  DAY(join_date)  \
customer_id
1                       2008                   0.070041               1
2                       2008                   0.028647              20
3                       2008                   0.070814              10
4                       2008                   0.087986              30
5                       2008                   0.085883              19

                              ...                     \
customer_id                   ...
1                             ...
2                             ...
3                             ...
4                             ...
5                             ...

             SUM(sessions.MIN(transactions.amount))  \
customer_id
1                                            169.77
2                                            114.85
3                                             64.98
4                                             83.53
5                                             73.09

             MAX(sessions.SKEW(transactions.amount))  \
customer_id
1                                           0.610052
2                                           0.492531
3                                           0.645728
4                                           0.516262
5                                           0.830112

             MAX(sessions.MIN(transactions.amount))  \
customer_id
1                                             41.95
2                                             42.96
3                                             21.77
4                                             17.27
5                                             27.46

             SUM(sessions.MEAN(transactions.amount))  \
customer_id
1                                         791.976505
2                                         596.243506
3                                         369.770121
4                                         584.673126
5                                         313.448942

             STD(sessions.SUM(transactions.amount))  \
customer_id
1                                        175.939423
2                                        230.333502
3                                        471.048551
4                                        322.883448
5                                        198.522508

             STD(sessions.MEAN(transactions.amount))  \
customer_id
1                                           9.299023
2                                          10.925037
3                                           9.819148
4                                          13.065436
5                                           8.950528

             SKEW(sessions.MEAN(transactions.amount))  \
customer_id
1                                           -0.377150
2                                            0.962350
3                                           -0.244976
4                                           -0.548969
5                                            0.098885

             STD(sessions.MAX(transactions.amount))  \
customer_id
1                                          5.857976
2                                          7.420480
3                                         12.537259
4                                         12.738488
5                                          5.599228

             NUM_UNIQUE(sessions.DAY(session_start))  \
customer_id
1                                                  1
2                                                  1
3                                                  1
4                                                  1
5                                                  1

             MIN(sessions.SKEW(transactions.amount))
customer_id
1                                          -0.395358
2                                          -0.470007
3                                          -0.630425
4                                          -0.497169
5                                          -0.396571

[5 rows x 69 columns]
       zip_code  COUNT(transactions)  COUNT(sessions)  \
count         5             5.000000          5.00000
unique        2                  NaN              NaN
top       02139                  NaN              NaN
freq          3                  NaN              NaN
mean        NaN           100.000000          7.00000
std         NaN            30.878795          2.44949
min         NaN            58.000000          4.00000
25%         NaN            78.000000          5.00000
50%         NaN           111.000000          8.00000
75%         NaN           122.000000          8.00000
max         NaN           131.000000         10.00000

        SUM(transactions.amount) MODE(sessions.device)  \
count                   5.000000                     5
unique                       NaN                     3
top                          NaN               desktop
freq                         NaN                     3
mean                 7578.094000                   NaN
std                  2355.206145                   NaN
min                  4571.370000                   NaN
25%                  5758.240000                   NaN
50%                  8205.280000                   NaN
75%                  9118.810000                   NaN
max                 10236.770000                   NaN

        MIN(transactions.amount)  MAX(transactions.amount)  YEAR(join_date)  \
count                   5.000000                  5.000000              5.0
unique                       NaN                       NaN              NaN
top                          NaN                       NaN              NaN
freq                         NaN                       NaN              NaN
mean                    5.966000                148.912000           2008.0
std                     0.468967                  0.935639              0.0
min                     5.600000                147.730000           2008.0
25%                     5.730000                148.170000           2008.0
50%                     5.810000                149.150000           2008.0
75%                     5.910000                149.560000           2008.0
max                     6.780000                149.950000           2008.0

        SKEW(transactions.amount)  DAY(join_date)  \
count                    5.000000        5.000000
unique                        NaN             NaN
top                           NaN             NaN
freq                          NaN             NaN
mean                     0.068674       16.000000
std                      0.023863       10.977249
min                      0.028647        1.000000
25%                      0.070041       10.000000
50%                      0.070814       19.000000
75%                      0.085883       20.000000
max                      0.087986       30.000000

                         ...                     \
count                    ...
unique                   ...
top                      ...
freq                     ...
mean                     ...
std                      ...
min                      ...
25%                      ...
50%                      ...
75%                      ...
max                      ...

        SUM(sessions.MIN(transactions.amount))  \
count                                 5.000000
unique                                     NaN
top                                        NaN
freq                                       NaN
mean                                101.244000
std                                  42.727178
min                                  64.980000
25%                                  73.090000
50%                                  83.530000
75%                                 114.850000
max                                 169.770000

        MAX(sessions.SKEW(transactions.amount))  \
count                                  5.000000
unique                                      NaN
top                                         NaN
freq                                        NaN
mean                                   0.618937
std                                    0.134082
min                                    0.492531
25%                                    0.516262
50%                                    0.610052
75%                                    0.645728
max                                    0.830112

        MAX(sessions.MIN(transactions.amount))  \
count                                 5.000000
unique                                     NaN
top                                        NaN
freq                                       NaN
mean                                 30.282000
std                                  11.689781
min                                  17.270000
25%                                  21.770000
50%                                  27.460000
75%                                  41.950000
max                                  42.960000

        SUM(sessions.MEAN(transactions.amount))  \
count                                  5.000000
unique                                      NaN
top                                         NaN
freq                                        NaN
mean                                 531.222440
std                                  192.723601
min                                  313.448942
25%                                  369.770121
50%                                  584.673126
75%                                  596.243506
max                                  791.976505

        STD(sessions.SUM(transactions.amount))  \
count                                 5.000000
unique                                     NaN
top                                        NaN
freq                                       NaN
mean                                279.745486
std                                 120.698137
min                                 175.939423
25%                                 198.522508
50%                                 230.333502
75%                                 322.883448
max                                 471.048551

        STD(sessions.MEAN(transactions.amount))  \
count                                  5.000000
unique                                      NaN
top                                         NaN
freq                                        NaN
mean                                  10.411835
std                                    1.660574
min                                    8.950528
25%                                    9.299023
50%                                    9.819148
75%                                   10.925037
max                                   13.065436

        SKEW(sessions.MEAN(transactions.amount))  \
count                                   5.000000
unique                                       NaN
top                                          NaN
freq                                         NaN
mean                                   -0.021972
std                                     0.599396
min                                    -0.548969
25%                                    -0.377150
50%                                    -0.244976
75%                                     0.098885
max                                     0.962350

        STD(sessions.MAX(transactions.amount))  \
count                                 5.000000
unique                                     NaN
top                                        NaN
freq                                       NaN
mean                                  8.830686
std                                   3.545335
min                                   5.599228
25%                                   5.857976
50%                                   7.420480
75%                                  12.537259
max                                  12.738488

        NUM_UNIQUE(sessions.DAY(session_start))  \
count                                       5.0
unique                                      NaN
top                                         NaN
freq                                        NaN
mean                                        1.0
std                                         0.0
min                                         1.0
25%                                         1.0
50%                                         1.0
75%                                         1.0
max                                         1.0

        MIN(sessions.SKEW(transactions.amount))
count                                  5.000000
unique                                      NaN
top                                         NaN
freq                                        NaN
mean                                  -0.477906
std                                    0.096339
min                                   -0.630425
25%                                   -0.497169
50%                                   -0.470007
75%                                   -0.396571
max                                   -0.395358

[11 rows x 69 columns]

In [ ]:

feature_matrix_customers

In [38]:
# now apply to sessions
feature_matrix_sessions, feature_session_defs = ft.dfs(entities=entities, 
                                            relationships=relationships,
                                            target_entity='sessions')

feature_matrix_sessions.head()

,customer_id,device,WEEKDAY(session_start),MONTH(session_start),MODE(transactions.product_id),MEAN(transactions.amount),customers.zip_code,DAY(session_start),MIN(transactions.amount),NUM_UNIQUE(transactions.product_id),...,customers.MODE(sessions.device),customers.WEEKDAY(join_date),MODE(transactions.MONTH(transaction_time)),customers.COUNT(transactions),customers.MAX(transactions.amount),customers.MIN(transactions.amount),MODE(transactions.YEAR(transaction_time)),MODE(transactions.WEEKDAY(transaction_time)),NUM_UNIQUE(transactions.MONTH(transaction_time)),NUM_UNIQUE(transactions.DAY(transaction_time))
session_id,,,,,,,,,,,,,,,,,,,,,
1,1,desktop,2,1,2,77.846250,60091,1,5.60,5,...,desktop,1,1,131,149.95,5.60,2014,2,1,1
2,1,desktop,2,1,3,89.533000,60091,1,8.67,4,...,desktop,1,1,131,149.95,5.60,2014,2,1,1
3,5,mobile,2,1,5,67.130000,02139,1,20.91,5,...,tablet,5,1,58,148.17,5.91,2014,2,1,1
4,3,mobile,2,1,1,82.172800,02139,1,8.70,5,...,desktop,3,1,78,147.73,6.78,2014,2,1,1
5,2,tablet,2,1,1,65.031818,02139,1,6.29,5,...,mobile,2,1,122,149.15,5.81,2014,2,1,1